<div class="containerDiv">

    <div class="container circleContainer" id="homeContainer">
        <div class="indexDiv">





            <h1 class="defaultH1">Workout Time</h1>
            <form action="/action_page.php">
                <label for="title">workout Title:</label>
                <input type="text" id="title" name="title"><br><br>
                <label for="exername">Exercise name:</label>
                <input type="text" id="exername" name="exername"><br><br>
                <label for="type">Type:</label>
                <input type="text" id="type" name="type"><br><br>
                <label for="weight">weight:</label>
                <input type="text" id="weight" name="weight"><br><br>
                <label for="sets">sets:</label>
                <input type="text" id="sets" name="sets"><br><br>
                <label for="reps">reps:</label>
                <input type="text" id="reps" name="reps"><br><br>
                <label for="dur">duration in min:</label>
                <input type="text" id="dur" name="dur"><br><br>
                <input type="submit" value="Submit">
            </form>






            {{json this}}
            {{#each this}}
            <p>

                {{#each exers}}

            <p>{{name}}</p>
            <p>{{type}}</p>
            <p>{{weight}}</p>
            <p>{{sets}}</p>
            <p>{{reps}}</p>
            <p>{{duration}}</p>

            {{/each}}
            </p>
            {{/each}}


        </div>
    </div>
</div>
</div>