<div class="containerDiv">

    <div class="container circleContainer" id="homeContainer">
        <div class="indexDiv">





            <h1 class="defaultH1">Workout Time</h1>
            <form action="/action_page.php">
                <label for="fname">First name:</label>
                <input type="text" id="fname" name="fname"><br><br>
                <label for="lname">Last name:</label>
                <input type="text" id="lname" name="lname"><br><br>
                <input type="submit" value="Submit">
            </form>

            <p>
                {{#each exer}}

            <p>{{name}}</p>
            <p>{{type}}</p>
            <p>{{weight}}</p>
            <p>{{sets}}</p>
            <p>{{reps}}</p>
            <p>{{duration}}</p>

            {{/each}}
            </p>



        </div>
    </div>
</div>
</div>